@import '~@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Raleway:wght@400;700&family=Sigmar+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(
    rgba(74,13,103,0.5),
    rgba(74,13,103,0.5)
  ),
  url(./assets/images/bgimage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Raleway',
  sans-serif; 
  font-size: 20px;
  color: #aaa;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  font-family: 'Comfortaa', cursive;
  padding: 1% 0;
  background-color: rgba(57,10,125,0.6);
  border: 1px solid #bbb;
  border-radius: 10px;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: rgba(57,10,125,0.6);
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 10px 3px;
}

section:nth-child(even) {
  background-color: rgba(120, 10, 125, 0.6);
}

.title {
  color: #dedede;
}

.page ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.form label {
  margin: auto 10px auto 4px;
  font-size: 18px;
}

.unit {
  display: inline-block;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 49vh;
  width: 100%;
}

.links a {
  width: 49%;
}

.links section {
  min-height: 24vh;
  max-height: 24vh;
}

.checked {
  text-decoration: line-through;
}

a:link, a:visited {
  color: #aaa;
  text-decoration: none;
}

a:hover, a:active {
  color: #ddd;
}

button {
  margin: auto 4px;
}

.logout {
  width: 75px;
  height: 30px;
}

.list, .contact, .box, .note {
  border: 1px solid #bbb;
  border-radius: 10px;
  min-width: min-content;
  max-width: 90%;
  margin: 10px auto;
  padding: 0 10px 20px 10px;
  background-color: rgba(74,13,103,0.6);
}

.note {
  min-width: 0;
  width: 90%;
}

.exp {
  max-width: 95%;
}

.exp ul {
  list-style-position: inside;
  padding-left: 0;
  /* text-align: left; */
  width: 100%;
}

button {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(150,13,103,0.8);
  color: #aaa;
  padding: 4px 9px;
  border-radius: 5px;
}

.buttons {
  display: inline-flex;
}

h1, h2, h3 {
  font-family: 'Sigmar One', cursive;
}

.countdown h3 {
  margin: 20px auto;
}

.error {
  color: red;
  font-weight: bold;
}

input[type=text], input[type=tel], input[type=email] {
  margin: auto 10px auto 4px;
}

input[type=radio] {
  margin: auto 2px auto 8px;
}

#box_form, #contact_form, #signup_form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#box_form div, #contact_form div, #signup_form div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0;
}

#signup_form {
  width: max-content;
  margin: auto;
}

#signup_form button {
  align-self: center;
}

@media all and (min-width: 375px) {
  .list_form_container {
    width: max-content;
    margin: auto;
    text-align: left;
  }

  #box_item_form {
    display: flex;
  }
}

@media all and (min-width: 400px) {
  nav p {
    font-size: 30px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  #box_item_form {
    width: 100%;
    justify-content: space-between;
    margin: 5px 0;
  }
}

@media all and (min-width: 500px) {
  #box_form, #contact_form, #list_form, #box_item_form {
    width: max-content;
    margin: auto;
  }
  
  .form label {
    font-size: 20px;
  }
}

@media all and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto 20px;
  }

  .login-form {
    display: flex;
    justify-content: right;
    height: 30px;
  }

  .login-form input {
    margin: auto 10px auto 4px
  }

  .links section {
    margin: 3px;
  }

  .boxes-list, .contacts-list, .lists-list {
    display: flex;
    flex-wrap: wrap;
  }

  .note, .box, .contact, .list {
    width: 50vw;
  }
}